= form_for trip do |f|
  - if trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - trip.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :start_address
    = f.text_field :start_address
  .field
    = f.label :end_address
    = f.text_field :end_address
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :contributors_limit
    = f.number_field :contributors_limit
  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .actions
    = f.submit 'Save'
