= form_for trip, class: "form-horizontal" do |f|

  - if trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - trip.errors.full_messages.each do |msg|
          %li= msg

  .col-sm-6
    
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
    
    .form-group
      = f.label :description
      = f.text_area :description, class: "form-control"
    
    .form-group
      = f.label :start_time
      .datetimepicker.input-append.date
        = f.text_field :start_time, autocomplete: "off", class: "form-control"
        %span.add-on
          %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time" }

    .form-group
      = f.label :end_time
      .datetimepicker.input-append.date
        = f.text_field :end_time, autocomplete: "off", class: "form-control"
        %span.add-on
          %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time" }
  
    .form-group
      = f.label :contributors_limit
      = f.number_field :contributors_limit, class: "form-control", min: "0"
  
  .col-sm-6

    .form-group
      = f.label :start_address
      = f.text_field :start_address, class: "form-control"
    .form-group
      = f.label :end_address
      = f.text_field :end_address, class: "form-control"

    .form-group
      = f.collection_select :category_ids, Category.all ,:id, :name, { include_blank: true }, { class: 'chosen-select', multiple: true, data: { placeholder: '' } }

    .form-group
      = f.submit 'Save', class: "btn btn-default"
