.trip
  .row

    .col-sm-8
      .title
        %h2
          = trip.title

      .info
        %h4
          Hosted by
          %span.light
            = (trip.owner.name.present?) ? trip.owner.name : trip.owner.email
        %p
          = trip.description

      .contributors
        - trip.users.each do |user|
          = user.name

      .actions
        = link_to 'Show', trip, class: "btn btn-primary"
        - if user_signed_in? && current_user == trip.owner
          = link_to 'Edit', edit_trip_path(trip), class: "btn btn-info"
          = link_to 'Destroy', trip, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

    .col-sm-4.text-center
      %span.place
        = trip.start_address
        %span.glyphicon.glyphicon-arrow-right{ "aria-hidden" => "true" }
        = trip.end_address
      %br
      %br
      %span.glyphicon.glyphicon-time{ "aria-hidden" => "true" }
      %br
      %span.time
        = trip.start_time.strftime("%Y-%m-%d, %H:%M")
        %br
        = trip.end_time.strftime("%Y-%m-%d, %H:%M")
