%p
  %b Title:
  = trip.user.title
%p
  %b Description:
  = trip.user.description
%p
  %b Start latitude:
  = trip.user.start_latitude
%p
  %b Start longitude:
  = trip.user.start_longitude
%p
  %b End latitude:
  = trip.user.end_latitude
%p
  %b End longitude:
  = trip.user.end_longitude
%p
  %b Start time:
  = trip.user.start_time
%p
  %b End time:
  = trip.user.end_time
%p
  %b Contributors limit
  = trip.user.contributors_limit
%p
  %b Owner:
  = trip.user.owner_id