%h1 Listing trips      

%br

= form_tag trips_path, method: :get, remote: true, id: "trips-search" do
  - Category.all.each do |category|
    = check_box_tag 'category_ids[]', category.id, stored_category_ids.include?(category.id)
    = category.name

#trips
  = render 'trips'

= link_to 'New Trip', new_trip_path
