.col-md-6
  = link_to '&#10094; Back to trips list'.html_safe, trips_path
  
  = render partial: 'show', locals: { trip: trip_by_code }

  = link_to 'Join trip!', join_trip_path(trip_by_code.trip_code), method: :post
  
  %h4 Trip author:
  %p= trip_by_code.owner
  
  %div#show_message_form.btn.btn-primary Contact with trip owner &#65516;
  %div#quick_message
    = form_for message, remote: :true do |f|
      .actions
        = f.text_area :content, class: "form-control", rows: 4, cols: 8
        = hidden_field_tag 'receiver', trip_by_code.owner.id
        = f.submit 'Send', class: "btn btn-default btn-sm"
  %br/
  
.col-md-6
  - if trip_by_code.categories.present?
    %h2 Tasks to do:
    %ul
    - trip_by_code.categories.each do |c|
      - c.tasks.each do |t|
        - if t.done?(t.id, trip_by_code.id, current_user.id)
          %li.strike= t.content
        - else
          %li
            = t.content
            = button_to 'Mark as done', { controller: "trips", action: "mark_as_done", task_id: t.id, trip_id: trip_by_code.id, method: :post }