.col-md-6
  = render partial: 'show', locals: { trip: trip_by_code }

  = link_to 'Join trip!', join_trip_path(trip_by_code.trip_code), method: :post
  
  %div#show_message_form Contact with trip owner
  = form_for message do |f|
    = f.text_area :content
    = hidden_field_tag 'receiver', trip_by_code.owner.id

    .actions
      = f.submit 'Send'
  
  = link_to 'Back', trips_path
  
.col-md-6
  - if trip_by_code.categories.present?
    %h2 Tasks to do:
    %ul
    - trip_by_code.categories.each do |c|
      - c.tasks.each do |t|
        - if t.done?(t.id, trip_by_code.id, current_user.id)
          %li.strike= t.content
        - else
          %li
            = t.content
            = button_to 'Mark as done', { controller: "trips", action: "mark_as_done", task_id: t.id, trip_id: trip_by_code.id, method: :post }