.col-md-6
  = render partial: 'show', locals: { trip: trip_by_code }

  = link_to 'Join trip!', join_trip_path(trip_by_code.trip_code), method: :post

  = link_to 'Back', trips_path
  
.col-md-6
  - if trip_by_code.categories.present?
    %h2 Tasks to do:
    %ul
    - trip_by_code.categories.each do |c|
      - c.tasks.each do |t|
        %li= t.content
        %li= link_to 'Mark as done', mark_as_done_task_path(t), method: :post