= form_for message do |f|
  - if message.errors.any?
    #error_explanation
      %h2= "#{pluralize(message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - message.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.label :content
    = f.text_field :content
    = f.submit 'Send'
