= form_for task do |f|
  - if task.errors.any?
    #error_explanation
      %h2= "#{pluralize(task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - task.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :content
    = f.text_field :content, class: "form-control"
  .form-group
    = f.collection_select(:category_id, Category.all, :id, :name)
  .form-group
    = f.submit 'Save'
